<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Attendance</title>
</head>
<body>
    <h1>Edit Attendance</h1>
    <form method="POST" action="{{ url_for('attendance.edit_attendance', attendance_id=row.id, user_id=user_id) }}">
        <label for="date">Date:</label>
        <input aria-label="date" type="date" name="date" value="{{ row.date }}" required><br>
        <label for="time">Time:</label>
        <input aria-label="time" type="time" name="time" value="{{ row.time }}" required><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
